<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ v.pageTitle }}</title>
    <link rel="stylesheet" href="https://cdn.pannellum.org/2.4/pannellum.css"/>
    <script type="text/javascript" src="https://cdn.pannellum.org/2.4/pannellum.js"></script>
    <style>
        #panorama {
            width: 1000px;
            height: 1000px;
        }
    </style>
</head>
<body>

<div id="panorama"></div>
<script>
    navigator.serviceWorker.register('sw.js')
        .then((registration) => {
            console.log("Registration ok", registration);
            pannellum.viewer('panorama', {
                "type": "multires",
                "autoRotate": 1,
                "autoLoad": true,
                "title": "{{ v.panoTitle }}",
                "author": "{{ v.author }}",
                "autoLoad": {{ v.autoLoad }},
                "autoRotate": {{ v.autoRotate }},

                "minYaw": {{ v.minYaw }},
                "maxYaw": {{ v.maxYaw }},
                "minPitch": {{ v.minPitch }},
                "maxPitch": {{ v.maxPitch }},
                "maxHfov": {{ v.maxHfov }},
                "hfov": {{ v.hfov }},

                "multiRes": {
                    "basePath": "{{ v.basePath }}",
                    "path": "{{ v.path }}",
                    "extension": "{{ v.extension }}",
                    "tileResolution": {{ v.tileResolution }},
                    "maxLevel": {{ v.maxLevel }},
                    "cubeResolution": {{ v.cubeResolution }},
                    "autoLoad": true,
                    "autorotate": 1
                }
            })
        })
        .catch((err) => console.log("Registration failed", err));
</script>
</body>
</html>